html {
  font-family: 'Bebas Neue', cursive;
  color: white;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle at 50% -20.71%, #ff7f85 0, #ff748c 8.33%, #ff6994 16.67%, #ff5d9c 25%, #ff52a4 33.33%, #ff47ad 41.67%, #f23cb5 50%, #e234be 58.33%, #cf32c8 66.67%, #b935d2 75%, #9f3bdb 83.33%, #7e42e5 91.67%, #514aed 100%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%; }

header {
  display: flex;
  background-color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
  justify-content: space-between; }
  header .titulo {
    font-size: 80px;
    padding: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    background-color: #72329c;
    display: flex; }
  header .titulo1 {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    background-color: #72329c;
    display: flex;
    font-size: 80px;
    padding: 15px;
    color: white;
    outline: none;
    text-decoration: none; }
  header .navmobile {
    display: none; }
  header nav {
    font-size: 25px;
    display: flex;
    gap: 20px;
    padding: 40px;
    align-items: center;
    height: 100%; }
    header nav .form__submitnav {
      background: #72329c;
      color: white;
      font-family: 'Bebas Neue', cursive;
      border: none;
      border-radius: 25px;
      padding: 10px;
      letter-spacing: 2px;
      font-size: 25px;
      margin-left: 20px; }
    header nav .form__inputnav {
      background: #72329c;
      color: white;
      font-family: 'Bebas Neue', cursive;
      border: none;
      border-radius: 25px;
      padding: 10px;
      margin-right: 15px;
      width: 300px; }
    header nav ul li a {
      color: white; }
    header nav ul li a:hover {
      color: #72329c; }
  header .listaBarra {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 35px;
    gap: 80px;
    flex-wrap: wrap; }
  header .lupa {
    display: none; }

.pelisRecomendados {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
  background-color: #161c1b;
  padding-left: 20px;
  margin: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas: "titulopeli img" "titulomario img" "marioparrafo img";
  row-gap: 20px;
  column-gap: 20px; }
  .pelisRecomendados .titulopeli {
    font-size: 60px;
    grid-area: titulopeli;
    margin: 20px;
    letter-spacing: 5px; }
  .pelisRecomendados .fotomariotitulo {
    padding-left: 100px;
    padding-bottom: 20px;
    grid-area: titulomario; }
  .pelisRecomendados .mario {
    grid-area: img;
    width: 100%;
    padding: 10px; }
  .pelisRecomendados .marioimg {
    grid-area: img;
    width: 100%;
    padding: 10px; }
  .pelisRecomendados .parrafoMario {
    grid-area: marioparrafo;
    font-size: 30px;
    word-spacing: 5px; }
  .pelisRecomendados .carrousel {
    grid-area: img;
    width: 100%;
    padding: 40px; }
  .pelisRecomendados .conteCarrousel {
    width: 100%;
    height: 700px;
    overflow: hidden; }
    .pelisRecomendados .conteCarrousel .imgcarrusel {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .pelisRecomendados .itemCarrousel {
    position: relative;
    width: 100%;
    height: 100%; }
  .pelisRecomendados .itemCarrouselTarjeta {
    width: 100%;
    height: 100%; }
  .pelisRecomendados .itemCarrouselArrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; }
  .pelisRecomendados .itemCarrouselArrows > i:hover {
    cursor: pointer; }
  .pelisRecomendados #itemCarrousel-1 {
    background-color: #e23232; }
  .pelisRecomendados #itemCarrousel-2 {
    background-color: #32c8e2; }
  .pelisRecomendados #itemCarrousel-3 {
    background-color: #c8e232; }
  .pelisRecomendados .conteCarrouselController {
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
  .pelisRecomendados .conteCarrouselController > a {
    text-decoration: none;
    font-size: 2em;
    color: grey; }
  .pelisRecomendados .itemCarrouselArrows > a > i {
    color: white; }

.estrenosTitulo, .tuListaTitulo, .clasicosTitulo {
  font-size: 30px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664); }

.estrenos, .tendencias, .clasicos, .proximosEstrenos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
  background-color: #161c1b;
  height: 250px;
  align-items: center;
  margin: 30px; }
  .estrenos .imglistas1:hover, .tendencias .imglistas1:hover, .clasicos .imglistas1:hover, .proximosEstrenos .imglistas1:hover, .estrenos .imglistas:hover, .tendencias .imglistas:hover, .clasicos .imglistas:hover, .proximosEstrenos .imglistas:hover {
    width: 600px;
    -webkit-animation: scale-up-center 0.8s;
    animation: scale-up-center 0.8s; }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.tuLista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
  background-color: #161c1b;
  margin: 30px;
  height: 700px;
  align-items: center; }

.imglistas2 {
  object-fit: cover;
  height: 350px; }

.tendenciasTitulo {
  padding: 20px;
  font-size: 30px;
  display: flex;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664); }

.fuego {
  display: flex;
  margin-left: 30px; }

ul.footer {
  font-size: 30px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
  background-color: #161c1b;
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 20px; }
  ul.footer li a {
    color: white; }

.comuTitulo {
  font-size: 30px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
  margin-top: 40px; }

.noticias {
  display: flex;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
  background-color: #161c1b;
  margin: 40px;
  padding: 20px;
  justify-content: space-around; }
  .noticias .noti {
    background-color: #72329c;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664); }
    .noticias .noti .voto {
      font-size: 40px;
      word-spacing: 5px; }
    .noticias .noti .imgcomuni {
      width: 100%; }
    .noticias .noti .imginfo {
      font-size: 20px;
      word-spacing: 5px; }

.maincuenta {
  display: grid;
  grid-template-columns: 50% 50%; }
  .maincuenta .cuenta {
    padding: 40px;
    background-color: #161c1b;
    margin: 60px;
    height: 1100px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px black;
    display: grid; }
  .maincuenta .imgcuenta {
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    margin: 20px; }
  .maincuenta .imgcuenta1 {
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    margin: 20px;
    margin-bottom: 100px; }
  .maincuenta .imgcuenta2 {
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664); }
  .maincuenta .form__titulo {
    font-size: 50px;
    word-spacing: 10px;
    margin: 20px;
    letter-spacing: 5px; }
  .maincuenta .form__contenedor {
    display: grid;
    font-size: 30px;
    letter-spacing: 5px; }
  .maincuenta .form__contenedor1 {
    display: grid;
    font-size: 30px;
    letter-spacing: 5px; }
  .maincuenta .form__input {
    width: 100%;
    background: none;
    color: white;
    font-size: 20px;
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid #706c6c;
    bottom: 250px;
    font-family: 'Bebas Neue', cursive; }
  .maincuenta .form__submit {
    background: #72329c;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    word-spacing: 4PX;
    letter-spacing: 3px;
    padding: 8px;
    border: none;
    border-radius: 25px;
    margin: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    margin-left: 50%; }
  .maincuenta .recuperar {
    margin-left: 50%; }

.ayudamain {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  height: 100vh;
  margin-top: 100px; }
  .ayudamain .rickimg {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    border-radius: 20px; }
  .ayudamain .tituloayuda {
    font-size: 40px;
    letter-spacing: 3px;
    margin: 20px; }
  .ayudamain .form1 {
    background-color: #161c1b;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    height: 600px;
    width: 600px;
    display: grid;
    border-radius: 25px; }
    .ayudamain .form1 .labelayuda {
      font-size: 30px;
      padding: 20px;
      letter-spacing: 2px; }
    .ayudamain .form1 .inputayuda {
      background: #72329c;
      color: white;
      font-family: 'Bebas Neue', cursive;
      border: none;
      border-radius: 25px;
      padding: 20px;
      margin: 10px;
      font-size: 20px; }
    .ayudamain .form1 .ayudaboton {
      background: #72329c;
      border-radius: 25px;
      padding: 10px;
      margin: 10px;
      font-size: 20px;
      font-family: 'Bebas Neue', cursive;
      color: white;
      width: 200px;
      margin: 10px;
      letter-spacing: 3px; }

.sectionpelicula {
  background-color: #161c1b;
  margin: 80px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
  letter-spacing: 2px; }
  .sectionpelicula .video {
    display: flex;
    justify-content: center; }

@media (max-width: 1280px) {
  header .form__submitnav {
    display: none; }
  header .listaBarra {
    gap: 20px; }
  .mario {
    margin-top: 50px; }
  .imglistas2 {
    width: 300px; }
  .imglistas1 {
    display: none; } }

@media (max-width: 1024px) {
  header {
    height: 95px; }
    header .titulo {
      font-size: 50px; }
    header .titulo1 {
      font-size: 50px; }
    header nav .form__inputnav {
      width: 200px; }
    header nav .listaBarra {
      font-size: 25px;
      gap: 20px; }
  main .pelisRecomendados {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 70%;
    grid-template-areas: "titulopeli titulopeli" "img img";
    gap: 0; }
    main .pelisRecomendados .marioimg {
      grid-area: img;
      margin-top: 30px; }
    main .pelisRecomendados .parrafoMario {
      display: none; }
    main .pelisRecomendados .titulopeli {
      grid-area: titulopeli; }
    main .pelisRecomendados .fotomariotitulo {
      display: none; }
  main .estrenos, main .tendencias, main .clasicos, main .proximosEstrenos {
    padding: 5px;
    gap: 10px; }
  main .imglistas {
    width: 300px; }
  main .imglistas1 {
    display: none; }
  main .imglista {
    width: 300px; }
  main .imglistas2 {
    object-fit: cover;
    width: 280px;
    height: 600px; }
  main .noticias {
    gap: 20px; }
    main .noticias .noti {
      width: 100%; }
  main .cuenta .imgcuenta2 {
    width: 140px; }
  main .cuenta .imgcuenta1 {
    width: 140px; }
  main .cuenta .imgcuenta {
    width: 140px; }
  .form__contenedor1 .form__grupo .form__submit {
    font-size: 25px; }
  .form__contenedor1 .form__grupo a {
    margin: 0;
    font-size: 25px; }
  .ayudamain .rickimg {
    width: 200px; } }

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 200px; }
    header nav .form__inputnav {
      display: none; }
    header nav .listaBarra {
      gap: 15px;
      font-size: 30px; }
    header nav .lupa {
      display: block;
      width: 40px; }
    header nav .lupa:hover {
      width: 60px; }
  main .imglistas {
    width: 220px;
    height: 150px; }
  main .imglistas1 {
    display: none; }
  main .imglistas2 {
    width: 200px;
    height: 300px; }
  main .tuLista {
    height: 400px;
    padding: 20px; }
  .ayudamain .rickimg {
    display: none; }
  .form__contenedor1 .form__grupo .form__submit {
    margin: 20px;
    font-size: 25px; }
  .form__contenedor .form__grupo .form__submit {
    margin: 20px;
    font-size: 25px; } }

@media (max-width: 425px) {
  ul li a {
    font-size: 15px; }
  .pelisRecomendados {
    height: 350px;
    padding: 0; }
    .pelisRecomendados .conteCarrousel {
      height: 250px; }
    .pelisRecomendados .titulopeli {
      font-size: 35px; }
  .estrenosTitulo, .tuListaTitulo, .clasicosTitulo {
    font-size: 20px;
    padding: 5px; }
  .estrenos, .tendencias, .clasicos, .proximosEstrenos {
    height: 150px;
    margin: 8px; }
    .estrenos .imglistas, .tendencias .imglistas, .clasicos .imglistas, .proximosEstrenos .imglistas {
      object-fit: cover;
      width: 100px;
      height: 100px; }
  main .tuLista {
    margin: 8px;
    padding: 2px;
    height: 380px;
    padding: 5px; }
  main .imglistas2 {
    width: 100px;
    height: 350px; }
  .tendenciasTitulo {
    font-size: 20px;
    padding: 5px; }
  .fuego {
    width: 20px; }
  .comuTitulo {
    font-size: 15px; }
  .noticias {
    margin: 10px;
    gap: 5px;
    padding: 5px; }
    .noticias .noti {
      width: 100px;
      padding: 5px; }
      .noticias .noti .voto {
        font-size: 18px; }
    .noticias .imginfo {
      display: none; }
    .noticias .corazon {
      width: 30px; }
  header {
    height: 110px; }
    header .headermobile {
      display: flex;
      gap: 90px; }
      header .headermobile ul li a {
        color: white; }
      header .headermobile .titulo {
        font-size: 20px; }
      header .headermobile .titulo1 {
        font-size: 20px; }
      header .headermobile .navmobile {
        display: flex;
        list-style-type: none;
        align-items: center;
        font-size: 15px;
        gap: 10px; }
    header nav {
      padding: 15px; }
      header nav .listaBarra {
        gap: 40px;
        font-size: 20px; }
        header nav .listaBarra .itemmobile {
          display: none; }
        header nav .listaBarra .lupa {
          width: 25px; }
        header nav .listaBarra .itemweb {
          display: none; }
  .maincuenta {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%; }
    .maincuenta .cuenta {
      padding: 10px;
      margin: 10px;
      height: 800px; }
      .maincuenta .cuenta h2 {
        font-size: 40px; }
      .maincuenta .cuenta .form__contenedor1 {
        font-size: 25px; }
        .maincuenta .cuenta .form__contenedor1 .form__grupo .form__submit {
          margin: 0px;
          margin-top: 40px;
          margin-bottom: 20px;
          margin-left: 80px; }
      .maincuenta .cuenta .imgcuenta {
        width: 100px;
        margin: 0; }
      .maincuenta .cuenta .imgcuenta1 {
        width: 100px; }
      .maincuenta .cuenta .imgcuenta2 {
        width: 100px; }
      .maincuenta .cuenta .form__contenedor {
        font-size: 25px; }
  .ayudamain {
    margin-top: 20px;
    margin-bottom: 90px; }
    .ayudamain .rickimg {
      display: none; }
    .ayudamain .form1 {
      width: 400px;
      height: 700px; } }

@media (max-width: 320px) {
  header .headermobile {
    gap: 10px; }
  main .imglistas2 {
    width: 80px; }
  main .pelisRecomendados {
    margin: 10px; }
    main .pelisRecomendados .conteCarrousel {
      height: 200px;
      margin-top: 40px; }
  main .estrenos .imglistas, main .tendencias .imglistas, main .clasicos .imglistas, main .proximosEstrenos .imglistas {
    width: 80px; }
  .ayudamain .tituloayuda {
    font-size: 25px; }
  .ayudamain .form1 {
    width: 280px; }
    .ayudamain .form1 .labelayuda {
      font-size: 25px; }
    .ayudamain .form1 .ayudaboton {
      padding: 0; } }
