
.pelisRecomendados{

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    background-color: rgba(22, 28, 27,1);
    padding-left: 20px;
    margin: 30px;
    padding: 20px;
    @include grid(30% 70%,20% 40% 40%,"titulopeli img" "titulomario img" "marioparrafo img",20px,20px);
    .titulopeli{
      position: relative;
        font-size: 60px;
        grid-area: titulopeli;
        margin: 20px;
        letter-spacing: 5px;
    }
    .fotomariotitulo{
        padding-left: 100px;
        padding-bottom: 20px;
        grid-area: titulomario;
        
    }
    .mario{    grid-area: img;
        width: 100%;
        padding: 10px;
    }
    .marioimg{
        grid-area: img;
        width: 100%;
        padding: 10px;
    }
    .parrafoMario{
        grid-area: marioparrafo;
        font-size: 30px;
        word-spacing: 5px;
    }
    .carrousel{
        grid-area: img;
        width: 100%;
        padding: 40px;
      }
      
      .conteCarrousel{
        width: 100%;
        height: 700px;
        overflow: hidden;
        .imgcarrusel{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
      .itemCarrousel{
        position: relative;
        width: 100%;
        height: 100%;
        
      }
      
      .itemCarrouselTarjeta{

        width: 100%;
        height: 100%;


      }
      
      .itemCarrouselArrows{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px; 
      }
      
      .itemCarrouselArrows > i:hover {
        cursor: pointer;
      }
      
      #itemCarrousel-1{
        background-color: rgb(226, 50, 50);
      }
      
      #itemCarrousel-2{
        background-color: rgb(50, 200, 226);
      }
      
      #itemCarrousel-3{
        background-color: rgb(200, 226, 50);
      }
      
      .conteCarrouselController{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }
      
      .conteCarrouselController > a{
        text-decoration: none;
        font-size: 2em;
        color: grey;
      }
      
      .itemCarrouselArrows > a > i{
        color: white;
      }

}


.estrenosTitulo{
    font-size: 30px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
}
.estrenos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    background-color: rgba(22, 28, 27,1);
    height: 250px;
    align-items: center;
    margin: 30px;
    .imglistas{object-fit: contain;}
  }



.tuListaTitulo{
    @extend .estrenosTitulo;
}
.tuLista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    background-color: rgba(22, 28, 27,1);
    margin: 30px;
    height: 700px;
    align-items: center;
}
.imglistas2{
    object-fit: contain;
    width: 400px;
    height: 550px;
}
.tendenciasTitulo{
    padding: 20px;
    font-size: 30px;
    display: flex;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.664);
    
}

.fuego{
    display: flex;
    margin-left: 30px;
}
.tendencias{
    @extend .estrenos
}

.clasicosTitulo{
    @extend .estrenosTitulo
    
}
.clasicos{
    @extend .estrenos
}
.proximosEstrenos{
    @extend .estrenos
}

