@media (max-width:425px)
    { 
        ul li a{
            font-size: 15px;
        }
    main{
        .pelisRecomendados{
            height: 350px;
            padding: 0;
            .titulopeli{
                font-size: 35px;
            }
        }
        .estrenosTitulo{
            font-size: 20px;
            padding: 5px;
        }
        .estrenos{
            height: 150px;
            margin: 8px;
            .imglistas{
                object-fit: cover;
                width: 100px;
                height: 100px;
            }
        }
        .tuLista{
            margin: 8px;
            padding: 2px;
            height: 380px;
            padding: 5px;
        }
        .imglistas2{
            width: 100px;
            height: 350px;
        }
        .tendenciasTitulo{
            font-size: 20px;
            padding: 5px;
        }
        .fuego{
            width: 20px;
        }
        .comuTitulo{font-size: 15px;}
        .noticias{
            margin: 10px;
            gap: 5px;
            padding: 5px;
        .noti{
            width: 100px;
            padding: 5px;
            .voto{font-size: 18px;}
        }
        
        .imginfo{display: none;}
        
        .corazon{
            width: 30px;
        }}
    }
    header{
        height: 110px;
        .headermobile{
            display: flex;
            gap: 90px;
            ul li a {
                color: white;
            }
            .titulo{
                font-size: 20px;
                }
            .titulo1{
                font-size: 20px;
            }
            .navmobile{display: flex;
                list-style-type: none;
                align-items: center;
                font-size: 15px;
                gap: 10px;
                }    
        }
        nav{
        padding: 15px;
        .listaBarra{
            gap: 40px;
            font-size: 20px;
        .itemmobile{display: none;}
        .lupa{
            width: 25px;
        }
        .itemweb{
            display: none;
        }  
        }
        }

        
    }

.maincuenta{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    
    
.cuenta{
    padding: 10px;
    margin: 10px;
    height: 800px;
    h2{
        font-size: 40px;
    }
    .form__contenedor1{
        font-size: 25px;
        .form__grupo{
            .form__submit{
                margin: 0px;
                margin-top: 40px;
                margin-bottom: 20px;
                margin-left: 80px;
                }}
    }
    .imgcuenta{width: 100px;
    margin: 0;}
    .imgcuenta1{width: 100px;}
    .imgcuenta2{
        width: 100px;
    }
    .form__contenedor{
        font-size: 25px;
    }
}
}

.ayudamain{
    margin-top: 20px;
    margin-bottom: 90px;
    .rickimg{display: none;}
    .form1{
        width: 400px;
        height: 700px;
    }
    

}




















}