@media(max-width:768px){
header{
    
    height: 120px;
    .hamburger{
        margin-left: 80%;
    }
    .titulo{padding-top: 20px;}
nav{
.form__inputnav{display: none;}
.listaBarra{
    gap: 15px;
    font-size: 30px;
}

}}
main{
    
.imglistas{
    width: 220px;
    height: 150px;
}
.imglistas1{display: none;}
.imglistas2{
    width: 200px;
    height: 300px;
}
.tuLista{
    height: 400px;
    padding: 20px;
}

}
.ayudamain{
    .rickimg{
        display: none;
    }

}

.form__contenedor1{
    .form__grupo{
        .form__submit{
            margin: 20px;
            font-size: 25px;}}}

.form__contenedor{
    .form__grupo{
        .form__submit{
            margin: 20px;
            font-size: 25px;
        }
    }
}
.sectionpelicula{margin: 35px;}
.video{iframe{
    height: 400px;}}



}
