@media (max-width:320px) {


    main{

    .imglistas2{
        width: 80px;
    }
    .pelisRecomendados{
        margin: 10px;
    .conteCarrousel{
        height: 200px;
        margin-top: 40px;
        
    }}
    .estrenos .imglistas{
        width: 80px;
        
    }}

    .ayudamain{
        .tituloayuda{font-size: 25px;}
        .form1{
            width: 280px;
            .labelayuda{font-size: 25px;}
            .ayudaboton{padding: 0;}
        }
    }

    .video{iframe{
        width: 255px;}}


}
