@media (max-width:1440px){
    header{
    .form__submitnav{display: none;}
    .listaBarra{
        gap: 20px;
    }}
    .mario{
        margin-top: 50px;
    }
    .imglistas2{
        width: 300px;
    }
    .imglistas1{
        display: none;
    }

}